html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}


header {

    background: url(../img/head.jpg) no-repeat center top / cover;
    height: 100vh;
}

#changecolor {
    transition: 0.5s;
    padding:2px;
    box-shadow:15px 15px 20px #000000;
    height:100px;
    display:block;
}

#changecolor:hover a {
    color: black;
}

#changecolor:hover .logo {
    fill: black;
}


#changecolor:hover {
    background-color: white;
}



#navhead {
    width: 1030px;
    margin: 0 auto;
}


.logo {
    margin: 28px;
    fill: #fff;
    float: left;
}


nav {
    float: right;
    margin-top: 45px;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

.menu li {
    float: left;
    display: block;
    margin-right: 41px;
    font-size: 14px;
}


.menu a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
#changecolor a:hover {
    color: #808080;
    transition:0.5s;
}

.container {
    width: 1000px;
    margin: 3px auto;
}

.titles_first {
    font-size: 50px;
    color: white;
    text-transform: uppercase;

}

h1 {
    font-size: 45px;
    color: white;
    text-transform: uppercase;
    margin:35px 0;
}

.button {
    background: #fed136;
    color: #484543;
    border-radius: 3px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 75px;
}

section .container {
    height: 100vh;
}

 /* -------------------------*/
/*
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
*/
 .title {
    padding-top: 50px;
    margin: 30px;
 }

 .title h2 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    color: #008080;
 }

.preim {
    margin-top: 50px;
    display: block;
}

.preim h3 {
    text-align: center;
}

.left_b {
    width: 550px;
    font-size: 25px;
    float: left;
} 

.left_b li {
    padding-bottom: 10px;
}

.right_b {
    float: right;  
    display: block;
    margin-top: 40px;
}

/* ------------------------*/

.title p {
    text-align: center;
    font-size: 25px;
    color: grey;
    margin: 0;
}

.kak_kupit {
    background-color: yellow;
    height: 300px;
}
/*
.shag-1 {
    background-color: red;
    height: 300px;
    display: inline;
    margin-left: 10px; 
}

.shag-2 {
    background-color: red;
    height: 300px;
    display: inline;
    margin-left: 10px; 
}

.shag-3 {
    background-color: red;
    width: 100px;
    height: 100px;
}
*/